@import '../../variable.scss';

.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mat-sidenav-container {
        background: $bodycolor;
        height: calc(100vh - 64px);
        mat-sidenav {
            width: 200px;
        }
        mat-sidenav-content {
            padding: 15px;
        }
    }
}

mat-toolbar{
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
    
    &.topbar{
        padding: 0px 15px;
    }
    .navbar-header {
        
        text-align: center;
        .navbar-brand {
            display: flex;
            line-height: 24px;
            color: #fff;
            align-items: center;
            .dark-logo {
                display: none;
                
            }
            b {
               margin-right: 20px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.topbar {
    position: relative;
    z-index: 2;
}

app-header {
    width: 100%;
}

.side-sheet {
    width: 200px;
}
