<mat-sidenav-container>
    <mat-sidenav-content>
        <div class="main-container">
            <mat-toolbar color="primary" class="topbar telative">
                <button mat-icon-button value="sidebarclosed" (click)="toggleNav()">
                    <mat-icon>menu</mat-icon>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand" (click)="goTop()">
                        <b>NewProEver</b>
                    </a>
                </div>
                <app-header></app-header>
            </mat-toolbar>
            <mat-sidenav-container>
                <mat-sidenav #sidenav mode="side" [(opened)]="isNavOpened">
                    <app-nav></app-nav>
                </mat-sidenav>
                <mat-sidenav-content>
                    <router-outlet></router-outlet>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #sidesheet mode="over" [(opened)]="isSheetOpened" position="end">
        <div class="side-sheet" *ngIf="sheetContent">
            <h4>{{sheetContent.title| translate: lang}} #{{sheetContent.id}}</h4>
            <p>{{sheetContent.subTitle | translate: lang}}</p>
            <ul>
                <li *ngFor="let item of sheetContent.items">
                    {{item.name}}
                    <button mat-icon-button *ngIf="item.action" (click)="item.action(item)">
                        <mat-icon>{{item.icon}}</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-sidenav>
</mat-sidenav-container> 
