<form #inputForm="ngForm">
    <mat-card>
        <mat-form-field>
            <input matInput type="text" placeholder="{{'attribute.user_id' | translate: lang}}" [(ngModel)]="user.id" name="userId" id="userId" required #userId="ngModel">
            <mat-error [hidden]="userId.errors && userId.errors['required']">{{'message.error.common.login.user_id.required' | translate: lang}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="{{'attribute.user_password' | translate: lang}}" [(ngModel)]="user.password" name="password" id="password" required #password="ngModel">
            <mat-error [hidden]="password.errors && password.errors['required']">{{'message.error.common.login.password.required' | translate: lang}}</mat-error>
        </mat-form-field>
        <div>
            <button mat-flat-button (click)="login()" [disabled]="!inputForm.form.valid">{{'screen.common.action.login' | translate: lang}}</button>
            <button mat-flat-button [matMenuTriggerFor]="langMenu">{{'screen.common.action.language' | translate: lang}}</button>
            <mat-menu  #langMenu="matMenu">
                <button mat-menu-item *ngFor="let lang of languages" (click)="changeLanguage(lang.code)">{{lang.name}}</button>
            </mat-menu>
        </div>
    </mat-card>
</form>