<ng-container *ngIf="model">
        <form #inputForm="ngForm">
            <div>
                <h3>{{'screen.human_resource.title.human_resource_input' | translate: lang}}</h3>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-sm="column">
                <div fxFlex="66%" class="proever-input-input-area">
                    <div fxLayout="column">
                        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                            <mat-form-field fxFlex>
                            <input matInput type="text" placeholder="{{'attribute.human_resources_id' | translate: lang}}" [(ngModel)]="model.id" disabled="disabled" name="id">
                            </mat-form-field>
                        </div>
                        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">         
                            <mat-form-field fxFlex>
                            <input matInput type="text" placeholder="{{'attribute.human_resources_name' | translate: lang}}" [(ngModel)]="model.name" id="name" name="name" required maxlength="40" #name="ngModel">
                            <mat-error [hidden]="name.errors && name.errors['required']">{{'message.error.human_resource.human_resource_input.name.required' | translate: lang}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxFlex="33%" class="proever-input-common-area">
                    <div>
                        <button mat-flat-button (click)="save()" [disabled]="!inputForm.form.valid">{{'screen.common.action.save' | translate: lang}}</button>
                        <button mat-flat-button (click)="delete()" [disabled]="!this.model.id">{{'screen.common.action.delete' | translate: lang}}</button>
                        <button mat-flat-button (click)="goBack()">{{'screen.common.action.cancel' | translate: lang}}</button>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
    