<div class="confirm-area">
<p>{{message | translate: lang}}</p>
<button mat-flat-button [mat-dialog-close]="true">{{'screen.common.action.execute' | translate: lang}}</button>
<button mat-flat-button [mat-dialog-close]="false">{{'screen.common.action.cancel' | translate: lang}}</button>
</div>
