.mat-grid-tile {
    overflow: visible;
    div {
        height: 100%;
    }
    button {
        margin: 10px;
    }
}
.data-area {
    padding-top: 20px;
    margin: auto auto;
    width: 80%;
    table {
        min-width: 100%;
        .mat-column-select {
            width: 80px;
        }
        .mat-column-control {
            width: 240px;
        }
        .mat-form-field {
            width: 50%;
        }
        button {
            font-size: 0.8em;
            min-width: 40px;
            text-decoration: underline;
        } 
        // .mat-row:nth-child(even){
        //     background-color: lightgrey;
        // }
    }
}