<app-dialog-header (onClose)="close()"></app-dialog-header>

<mat-grid-list cols="4" *ngIf="condition">
    <mat-grid-tile-header>
        <h3>{{'screen.common.title.search_setting' | translate: lang}}</h3>
    </mat-grid-tile-header>
    <mat-grid-tile colspan="3">
        <div class="data-area">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{'screen.common.label.search_setting.condition' | translate: lang}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <table mat-table [dataSource]="dataSourceCondition">
                        <ng-container matColumnDef="condition.name">
                            <th mat-header-cell *matHeaderCellDef>{{'screen.common.label.search_setting.condition.item' | translate: lang}}</th>
                            <td mat-cell *matCellDef="let row"> {{'condition.' + row.name | translate: lang}} </td>
                        </ng-container>
                        <ng-container matColumnDef="condition.value">
                            <th mat-header-cell *matHeaderCellDef>{{'screen.common.label.search_setting.condition.value' | translate: lang}}</th>
                            <td mat-cell *matCellDef="let row">
                                <mat-form-field appearance="standard" *ngIf="row.type === 'string' || row.type === 'number'">
                                    <input matInput [(ngModel)]="row.value">
                                </mat-form-field>
                                <mat-form-field *ngIf="row.type === 'date'">
                                    <input matInput [matDatepicker]="datePicker" [(ngModel)]="row.value">
                                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #datePicker></mat-datepicker>
                                </mat-form-field>
                                <mat-checkbox *ngIf="row.type === 'boolean'" [(ngModel)]="row.value"></mat-checkbox>
                                <mat-form-field *ngIf="row.type === 'human_resource'">
                                    <input matInput type="text" [(ngModel)]="row.value.name" [matAutocomplete]="auto" (keyup)="searchHumanResources()">
                                    <button matSuffix mat-icon-button (click)="selectHumanResource(row)">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let humanResource of humanResources" [value]="humanResource.name">{{humanResource.name}}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <mat-form-field *ngIf="hasValues(row.type)">
                                    <mat-select [(ngModel)]="row.value">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let value of getValues(row.type)" [value]="value.id">
                                        {{value.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="condition.enabled">
                            <th mat-header-cell *matHeaderCellDef>{{'screen.common.label.search_setting.condition.enabled' | translate: lang}}</th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox [(ngModel)]="row.enabled">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="conditionColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: conditionColumns;"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{'screen.common.label.search_setting.column' | translate: lang}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <table mat-table [dataSource]="dataSourceColumns">
                        <ng-container matColumnDef="column.name">
                            <th mat-header-cell *matHeaderCellDef>{{'screen.common.label.search_setting.column.item' | translate: lang}}</th>
                            <td mat-cell *matCellDef="let row"> {{'attribute.' + row.name | translate: lang}} </td>
                        </ng-container>
                        <ng-container matColumnDef="column.sort_order">
                            <th mat-header-cell *matHeaderCellDef>{{'screen.common.label.search_setting.column.sort_order' | translate: lang}}</th>
                            <td mat-cell *matCellDef="let row">
                                <mat-form-field appearance="standard">
                                    <mat-select [(ngModel)]="row.sortOrder" [disabled]="!enableSort(row)" (selectionChange)="changeSort(row)">
                                        <mat-option></mat-option>
                                        <mat-option [value]="1">1</mat-option>
                                        <mat-option [value]="2">2</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="column.sort_type">
                            <th mat-header-cell *matHeaderCellDef>{{'screen.common.label.search_setting.column.sort_type' | translate: lang}}</th>
                            <td mat-cell *matCellDef="let row">
                                <mat-form-field appearance="standard">
                                    <mat-select [(ngModel)]="row.sortType" [disabled]="!row.sortOrder">
                                        <mat-option></mat-option>
                                        <mat-option [value]="1">{{'screen.common.label.search_setting.column.asc' | translate: lang}}</mat-option>
                                        <mat-option [value]="2">{{'screen.common.label.search_setting.column.desc' | translate: lang}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="column.enabled">
                            <th mat-header-cell *matHeaderCellDef>{{'screen.common.label.search_setting.column.enabled' | translate: lang}}</th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox [(ngModel)]="row.enabled">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnColumns;"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <div>
            <mat-form-field>
                <mat-label>{{'screen.common.label.search_setting.name' | translate: lang}}</mat-label>
                <input matInput [(ngModel)]="condition.name">
            </mat-form-field>
            <mat-checkbox [(ngModel)]="condition.isPublic">{{'screen.common.label.search_setting.public' | translate: lang}}</mat-checkbox>
            <mat-divider></mat-divider>
            <button mat-flat-button (click)="save()">{{'screen.common.action.save' | translate: lang}}</button>
            <button mat-flat-button>{{'screen.common.action.delete' | translate: lang}}</button>
            <button mat-flat-button (click)="close()">{{'screen.common.action.cancel' | translate: lang}}</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>