<div class="proever-search-search-area" *ngIf="condition">
    <div fxLayout="row">
        <div fxLayout="row">
            <h3>{{'screen.human_resource.title.human_resource_search' | translate: lang}}</h3>
        </div>
        <div>
            <button mat-flat-button (click)="clear()">clear</button>
            <button mat-flat-button (click)="search()">{{'screen.common.action.search' | translate: lang}}</button>
        </div>
    </div>
    <div class="proever-search-search-fields">
        <mat-form-field>
            <input matInput placeholder="{{'attribute.human_resources_id' | translate: lang}}" id="human_resources_id" name="human_resources_id" [(ngModel)]="condition.humanResourcesId" (ngModelChange)="changeModel('humanResourcesId')">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="{{'attribute.human_resources_name' | translate: lang}}" id="human_resources_name" name="human_resources_name" [(ngModel)]="condition.humanResourcesName" (ngModelChange)="changeModel('humanResourcesName')">
        </mat-form-field>
    </div>
</div>
<div class="proever-search-action-area">
    <button mat-flat-button [routerLink]="['../humanresourceinput', 0]">{{'screen.common.action.register' | translate: lang}}</button>
</div>
<div class="proever-search-data-area">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="human_resources_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'attribute.human_resources_id' | translate: lang}}</th>
            <td mat-cell *matCellDef="let row"><button  mat-button [routerLink]="['../humanresourceinput', row.id]">{{row.id}}</button></td>
        </ng-container>
        <ng-container matColumnDef="human_resources_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'attribute.human_resources_name' | translate: lang}}</th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalCount" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
