<ng-container *ngFor="let con of condition.conditions; let i = index;">
    <mat-form-field *ngIf="con.enabled && (con.type === 'string' || con.type === 'number')">
        <mat-label>{{'condition.' + con.name | translate: lang}}</mat-label>
        <input matInput placeholder="" [(ngModel)]="con.value">
    </mat-form-field>
    <mat-form-field *ngIf="con.enabled && con.type === 'date'">
        <mat-label>{{'condition.' + con.name | translate: lang}}</mat-label>
        <input matInput [matDatepicker]="datePicker" [(ngModel)]="con.value">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox *ngIf="con.enabled && con.type === 'boolean'" [(ngModel)]="con.value">{{'condition.' + con.name | translate: lang}}</mat-checkbox>
    <mat-form-field *ngIf="con.enabled && con.type === 'human_resource'">
        <mat-label>{{'condition.' + con.name | translate: lang}}</mat-label>
        <input matInput type="text" [(ngModel)]="con.value.name" [matAutocomplete]="auto" (keyup)="searchHumanResources()">
        <button matSuffix mat-icon-button (click)="selectHumanResource(con)">
            <mat-icon>search</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let humanResource of humanResources" [value]="humanResource.name">{{humanResource.name}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field *ngIf="con.enabled && hasValues(con.type)">
        <mat-label>{{'condition.' + con.name | translate: lang}}</mat-label>
        <mat-select [(ngModel)]="con.value">
            <mat-option></mat-option>
            <mat-option *ngFor="let value of getValues(con.type)" [value]="value.id">
            {{value.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>
