@import '../../../variable.scss';

.container {
    display: flex;
    align-items: baseline;
    .mat-form-field {
        font-size: 0.6em;
        margin-right: 20px;
    }
}
.spacer {
    flex: 1 1 auto;
}
.operations {
    button {
        font-size: 1.4em;
        width: 48px;
        height: 48px;
        text-align: center;
        vertical-align: middle;
    }
}

.mat-menu-item {
    font-size: 0.8em;
}
