<div class="container">
    <mat-form-field>
        <mat-select (selectionChange)="selectProject($event)" [(ngModel)]="selectedProjectId">
            <mat-option></mat-option>
            <mat-option *ngFor="let project of projects" [value]="project.id">
            {{project.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <input matInput>
        <button mat-icon-button matPrefix>
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button matSuffix>
            <mat-icon>add</mat-icon>
        </button>
    </mat-form-field>
    <div class="spacer"></div>
    <div class="operations">
        <button mat-icon-button (click)="goMypage()">
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon matBadge="99+" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="settingsmenu">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #settingsmenu="matMenu" yPosition="below" overlapTrigger="false">
            <button mat-menu-item>{{ 'screen.common.action.change_password' | translate: lang }}</button>
            <button mat-menu-item (click)="logout()">{{ 'screen.common.action.logout' | translate: lang }}</button>
        </mat-menu>
    </div>
</div>