<ng-container *ngIf="model">
    <form #inputForm="ngForm">
        <div>
            <h3>{{'screen.integration.title.issue_input' | translate: lang}}</h3>
        </div>
        <div fxLayout="row wrap" fxLayout.lt-sm="column">
            <div fxFlex="66%" class="proever-input-input-area">
                <div fxLayout="column">
                    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <mat-form-field fxFlex>
                        <input matInput type="text" placeholder="{{'attribute.issue_id' | translate: lang}}" [(ngModel)]="model.id" disabled="disabled" name="id">
                        </mat-form-field>
                    </div>
                    <div class="input-row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <mat-form-field fxFlex>
                        <input matInput type="text"  placeholder="{{'attribute.issue_registration_date' | translate: lang}}" [(ngModel)]="model.registrationDate" id="registrationDate" name="registrationDate" [matDatepicker]="registrationDatePicker" required #registrationDate="ngModel">
                        <mat-datepicker-toggle matSuffix [for]="registrationDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #registrationDatePicker></mat-datepicker>
                        <mat-error [hidden]="registrationDate.errors && registrationDate.errors['required'] && !registrationDate.errors['format']">{{'message.error.integration.issue_input.registration_date.required' | translate: lang}}</mat-error>
                        <mat-error [hidden]="registrationDate.errors && registrationDate.errors['format']">{{'message.error.integration.issue_input.registration_date.format' | translate: lang}}</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput type="text" placeholder="{{'attribute.issue_registered_person_human_resource' | translate: lang}}" [(ngModel)]="model.registeredPersonHumanResource.name" name="registerHumanResource" id="registerHumanResource" required [matAutocomplete]="autoRegister" (keyup)="searchHumanResources()" #registerHumanResource="ngModel">
                            <button matSuffix mat-icon-button (click)="selectRegisterHumanResource()">
                                <mat-icon>search</mat-icon>
                            </button>
                            <mat-autocomplete #autoRegister="matAutocomplete">
                                <mat-option *ngFor="let humanResource of humanResources" [value]="humanResource.name">{{humanResource.name}}</mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="registerHumanResource.errors && registerHumanResource.errors['required']">{{'message.error.integration.issue_input.registered_person.required' | translate: lang}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">                
                        <mat-form-field fxFlex>
                        <input matInput type="text" placeholder="{{'attribute.issue_subject' | translate: lang}}" [(ngModel)]="model.subject" id="subject" name="subject" required maxlength="40" #subject="ngModel">
                        <mat-error [hidden]="subject.errors && subject.errors['required']">{{'message.error.integration.issue_input.subject.required' | translate: lang}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">                
                        <mat-form-field fxFlex>
                            <textarea matInput placeholder="{{'attribute.issue_detail' | translate: lang}}" [(ngModel)]="model.detail" id="detail" name="detail" rows="5" #detail="ngModel"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="input-row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <mat-form-field fxFlex>
                            <mat-label>{{'attribute.issue_occurence_phase' | translate: lang}}</mat-label>
                            <mat-select [(ngModel)]="model.occurencePhase.id" id="occurencePhase" name="occurencePhase" required #occurencePhase="ngModel">
                                <mat-option *ngFor="let phase of phases" [value]="phase.id">
                                {{phase.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="occurencePhase.errors && occurencePhase.errors['required']">{{'message.error.integration.issue_input.occurence_phase.required' | translate: lang}}</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <mat-label>{{'attribute.issue_tosolve_phase' | translate: lang}}</mat-label>
                            <mat-select [(ngModel)]="model.tosolvePhase.id" name="tosolvePhase">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let phase of phases" [value]="phase.id">
                                {{phase.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="input-row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <mat-form-field fxFlex>
                            <mat-label>{{'attribute.issue_issue_urgency' | translate: lang}}</mat-label>
                            <mat-select [(ngModel)]="model.issueUrgency.id" id="issueUrgency" name="issueUrgency" required #issueUrgency="ngModel">
                                <mat-option *ngFor="let urgency of urgencies" [value]="urgency.id">
                                {{urgency.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="issueUrgency.errors && issueUrgency.errors['required']">{{'message.error.integration.issue_input.urgency.required' | translate: lang}}</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput  type="text"  placeholder="{{'attribute.issue_correspondence_plan_date' | translate: lang}}" required [(ngModel)]="model.correspondencePlanDate" name="correspondencePlanDate" id="correspondencePlanDate" [matDatepicker]="correspondencePlanDatePicker" #correspondencePlanDate="ngModel">
                            <mat-datepicker-toggle matSuffix [for]="correspondencePlanDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #correspondencePlanDatePicker></mat-datepicker>
                            <mat-error *ngIf="correspondencePlanDate.errors && correspondencePlanDate.errors['required']">{{'message.error.integration.issue_input.correspondence_plan_date.required' | translate: lang}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">                
                        <mat-form-field fxFlex>
                            <input matInput type="text" placeholder="{{'attribute.issue_corresponding_person_human_resource' | translate: lang}}" [(ngModel)]="model.correspondingPersonHumanResource.name" name="correspondingPersonHumanResource" [matAutocomplete]="auto" (keyup)="searchHumanResources()">
                            <button matSuffix mat-icon-button (click)="selectCorrespondingHumanResource()">
                                <mat-icon>search</mat-icon>
                            </button>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let humanResource of humanResources" [value]="humanResource.name">{{humanResource.name}}</mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <mat-label>{{'attribute.issue_issue_status' | translate: lang}}</mat-label>
                            <mat-select [(ngModel)]="model.issueStatus.id" name="issueStatus" required>
                                <mat-option *ngFor="let status of statuses" [value]="status.id">
                                {{status.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="input-row" *ngIf="model.optionItems.length"><p>{{'screen.common.label.option_items' | translate: lang}}</p></div>
                    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" *ngFor="let optionItem of model.optionItems; let i = index;">                
                        <mat-form-field fxFlex>
                            <input matInput type="text" placeholder="{{optionItem.name}}" [(ngModel)]="model.optionItems[i].value" id="optionItem{{i}}" name="optionItem{{i}}" >
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxFlex="33%" class="proever-input-common-area">
                <div>
                    <div><p>{{'screen.common.label.related_items' | translate: lang}}</p></div>
                    <div>
                        <mat-form-field>
                            <input matInput type="text" placeholder="" name="relatedItem" >
                            <button matSuffix mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div>
                        <ul>
                            <li *ngFor="let item of model.relatedItems">
                                <a href="#">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div><p>{{'screen.common.label.attachments' | translate: lang}}</p></div>
                    <div>
                        <button mat-flat-button (click)="fileInput.click()">{{'screen.common.action.select_file' | translate: lang}}</button>
                        <input hidden type="file" multiple #fileInput (change)="handleFiles($event.target.files)"/>
                    </div>
                    <div>
                        <ul>
                            <li *ngFor="let attachment of model.attachments; let i = index;" [ngClass]="attachment.deleted ? 'deleted' : ''">
                                <a href="#" *ngIf="attachment.id">{{attachment.filename}}</a>
                                <span *ngIf="!attachment.id">{{attachment.filename}}</span>
                                <button matSuffix mat-icon-button (click)="deleteAttachment(i)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div><p>{{'screen.common.label.watcher' | translate: lang}}</p></div>
                    <div>
                        <mat-form-field>
                            <input matInput type="text" placeholder="" name="relatedItem">
                            <button matSuffix mat-icon-button (click)="selectWatchHumanResource()">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div>
                        <ul>
                            <li *ngFor="let watcher of model.watcherHumanResources; let i = index;" [ngClass]="watcher.deleted ? 'deleted' : ''">
                                {{watcher.name}}
                                <button matSuffix mat-icon-button (click)="deleteWatchHumanResource(i)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button mat-flat-button (click)="save()" [disabled]="!inputForm.form.valid">{{'screen.common.action.save' | translate: lang}}</button>
                    <button mat-flat-button (click)="delete()" [disabled]="!this.model.id">{{'screen.common.action.delete' | translate: lang}}</button>
                    <button mat-flat-button (click)="goBack()">{{'screen.common.action.cancel' | translate: lang}}</button>
                </div>
            </div>
        </div>
    </form>
</ng-container>
