<div class="proever-search-search-area" *ngIf="condition">
    <div fxLayout="row">
        <div fxLayout="row">
            <h3>{{'screen.integration.title.issue_search' | translate: lang}}</h3>
            <button mat-icon-button matSuffix (click)="openSearch()">
                <mat-icon *ngIf="searchOpened">expand_less</mat-icon>
                <mat-icon *ngIf="!searchOpened">expand_more</mat-icon>
            </button>
        </div>
        <div>
            <button mat-flat-button (click)="clear()">clear</button>
            <button mat-flat-button (click)="search($event)">{{'screen.common.action.search' | translate: lang}}</button>
            <mat-form-field>
            <mat-select (selectionChange)="selectCondition($event)" [(ngModel)]="selectedConditionId">
                <mat-option *ngFor="let condition of conditions" [value]="condition.id">{{condition.name}}</mat-option>
                <mat-divider></mat-divider>
                <mat-option (click)="openSearchSetting()">{{'screen.common.action.register' | translate: lang}}</mat-option>
            </mat-select>
        </mat-form-field>
        </div>
    </div>
    <div class="proever-search-search-fields" [ngClass]="!searchOpened ? 'closed' : ''">
        <app-search-fields [condition]="condition" [selectionValues]="[{key: 'issue_status', values: statuses}]"></app-search-fields>
    </div>
</div>
<div class="proever-search-action-area">
    <button mat-flat-button [routerLink]="['../issueinput', 0]">{{'screen.common.action.register' | translate: lang}}</button>
    <button mat-flat-button>{{'screen.common.action.excel_export' | translate: lang}}</button>
    <button mat-flat-button (click)="excelInput.click()">{{'screen.common.action.excel_import' | translate: lang}}</button>
    <input hidden type="file" #excelInput (change)="importExcel($event.target.files)"/>
    <button mat-flat-button>{{'screen.integration.action.issue_search.report.output' | translate: lang}}</button>
</div>
<div class="proever-search-data-area">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select" sticky>
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="issue_id" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'attribute.issue_id' | translate: lang}}</th>
            <td mat-cell *matCellDef="let row">
                <button mat-button [matMenuTriggerFor]="rowMenu">{{row.id}}</button>
                <mat-menu #rowMenu="matMenu" yPosition="below" overlapTrigger="false">
                    <button mat-menu-item [routerLink]="['../issueinput', row.id]">{{'screen.common.action.update' | translate: lang}}</button>
                    <button mat-menu-item>{{'screen.common.action.start_watch' | translate: lang}}</button>
                    <button mat-menu-item>{{'screen.common.action.stop_watch' | translate: lang}}</button>
                    <button mat-menu-item (click)="complete(row)">{{'screen.integration.action.issue_search.complete' | translate: lang}}</button>
                </mat-menu>
            </td>
        </ng-container>
        <ng-container matColumnDef="issue_subject">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'attribute.issue_subject' | translate: lang}}</th>
            <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
        </ng-container>
        <ng-container matColumnDef="issue_registration_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'attribute.issue_registration_date' | translate: lang}}</th>
            <td mat-cell *matCellDef="let row"> {{row.registrationDate}} </td>
        </ng-container>
        <ng-container matColumnDef="issue_correspondence_plan_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'attribute.issue_correspondence_plan_date' | translate: lang}}</th>
            <td mat-cell *matCellDef="let row"> {{row.correspondencePlanDate}} </td>
        </ng-container>
        <ng-container matColumnDef="issue_corresponding_person_human_resource">
            <th mat-header-cell *matHeaderCellDef>{{'attribute.issue_corresponding_person_human_resource' | translate: lang}}</th>
            <td mat-cell *matCellDef="let row"> {{row.correspondingPersonHumanResource.name}} </td>
        </ng-container>
        <ng-container matColumnDef="issue_issue_status">
            <th mat-header-cell *matHeaderCellDef>{{'attribute.issue_issue_status' | translate: lang}}</th>
            <td mat-cell *matCellDef="let row"> {{row.issueStatus.name}} </td>
        </ng-container>
        <ng-container matColumnDef="control" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button [matMenuTriggerFor]="selectionMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #selectionMenu="matMenu" yPosition="below" overlapTrigger="false">
                    <button mat-menu-item [disabled]="!selection.hasValue()">{{'screen.common.action.start_watch' | translate: lang}}</button>
                    <button mat-menu-item [disabled]="!selection.hasValue()">{{'screen.common.action.stop_watch' | translate: lang}}</button>
                    <button mat-menu-item (click)="completeSelected()" [disabled]="!selection.hasValue()">{{'screen.integration.action.issue_search.complete' | translate: lang}}</button>
                </mat-menu>
            </th>
            <td mat-cell *matCellDef="let row">
                <button mat-button (click)="showRelations(row.id)">{{'screen.common.action.related_items' | translate: lang}}</button>
                <button mat-button (click)="showAttachments(row.id)">{{'screen.common.action.attachments' | translate: lang}}</button>
                <button mat-button>{{'screen.common.action.option_items' | translate: lang}}</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<mat-paginator [length]="totalCount" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
