@import '../../../../variable.scss';

.search-area {
    mat-panel-title {
        font-size: 1.2em;
    }
    mat-panel-description {
        justify-content: flex-end;
        button {
            margin-left: 10px;
        }
    }
}

.search-fields {
    display: flex;
    align-items: baseline;
    mat-form-field {
        max-width: 200px;
        margin-right: 20px;
    }
}

.action-area {
    padding-top: 20px;
    padding-left: 10px;
    button {
        margin-right: 10px;
    }
}

.data-area {
    margin-top: 20px;
    max-height: calc(100vh - 400px);
    width: 100%;
    overflow: auto;
    table {
        min-width: 100%;
        .mat-column-select {
            width: 80px;
        }
        .mat-column-control {
            width: 240px;
        }
        button {
            font-size: 0.8em;
            min-width: 40px;
            text-decoration: underline;
        }
        .mat-row:nth-child(even){
            background-color: #f9f9f9;
        }
    }
}

.mat-menu-item {
    font-size: 0.8em;
}