.data-area {
    padding-top: 20px;
    overflow: auto;
    margin: auto;
    table {
        width: 100%;
        .mat-column-select {
            width: 80px;
        }
        .mat-column-control {
            width: 240px;
        }
        button {
            font-size: 0.8em;
            min-width: 40px;
            text-decoration: underline;
        }
    }
}
