<app-dialog-header (onClose)="close()"></app-dialog-header>
<div class="proever-search-search-area" *ngIf="condition">
    <div fxLayout="row">
        <div fxLayout="row">
            <h3>{{'screen.human_resource.title.human_resource_select' | translate: lang}}</h3>
        </div>
        <div>
            <button mat-flat-button (click)="search()">{{'screen.common.action.search' | translate: lang}}</button>
        </div>
    </div>
    <div class="proever-search-search-fields">
        <mat-form-field>
            <input matInput placeholder="{{'attribute.human_resources_id' | translate: lang}}" id="human_resources_id" name="human_resources_id" [(ngModel)]="condition.humanResourcesId">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="{{'attribute.human_resources_name' | translate: lang}}" id="human_resources_name" name="human_resources_name" [(ngModel)]="condition.humanResourcesName">
        </mat-form-field>
    </div>
</div>
<div class="proever-search-data-area">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select" sticky>
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
                <button mat-button [mat-dialog-close]="row">{{'screen.common.action.select' | translate: lang}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="human_resources_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'attribute.human_resources_id' | translate: lang}}</th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        <ng-container matColumnDef="human_resources_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'attribute.human_resources_name' | translate: lang}}</th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
